<p id="notice"><%= notice %></p>
<%arr1=(((Date.today-30.years).year)..((Date.today-18.years).year)).to_a
hash_of_year={}
hash_of_month={}
arr2=["JAN","FEB","MARCH","April","MAY","June","July","Aug","Sep","Oct",
  "Nov","DEC"]
number=1%>

<%arr1.each do |yer|%>
   <%hash_of_year[yer]=Student.all.pluck(:dob).find_all{|x| x.year == yer}.count%>
   <%hash_of_month[arr2[number-1]]=Student.all.pluck(:dob).find_all{|x| x.month == number}.count%>
   <%number+=1%>
<%end%>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_student_form">
      New student form
</button>


<div class="row">
 <div class='col-md-6'>
   put the table inside 
   <!-- put the 6 columns allocated to the table -->
 </div>
 <div class='col-md-6'>
   put the form inside
   <!--uts the 6 columns allocated to the form i.e., right half of the page -->
 </div>
</div>




<div class="row" id="studentsList">
  <%@students.each do |student|%>
   <div class = "col-md-3">
     <div class="card">
     <img class="card-img-top" src="http://www.acfe.com/uploadedImages/ACFE_Website/Content/images/membership-certification/graduate-member.jpg" alt="Card image cap">
     <div class="card-block">
        <h4 class="card-title"><%= student.name%></h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted"><%=student.created_at%></small></p>
        <%= link_to "Register","/students/new",class: "btn btn-primary" %>
        <span class = "float-right">Number of courses taken :<%= student.courses.count%>  </span>
     </div>
     </div>
   </div>
  <%end%> 
</div>


  <div class="modal fade" id="new_student_form" tabindex="-1" role="dialog" aria-labelledby="new_student_formTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- this is the modal body  heerere is the thing that  -->
      <div class="modal-body">
          <div id="student_form_errors"></div>
          <%= render 'students/form',student: @student%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </div>
  

<div class="row" >
<div class='col-md-8'>
<h1 >Students</h1>
<table class="table hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Major</th>
      <th>Courses</th>
      <th>datae of Birth</th>
    </tr>
  </thead>
<tbody>
  <% @students.each do |student| %>
      <tr>
        <td><a href="#" class="btn btn-default" data-target="#popupExternal" data-toggle="modal-popover"><%=student.name%></a></td>
        <td><%= student.email %></td>
        <td><%= student.major %></td>
        <td> <%student.courses.each do |course|%>
             <%=course.name%>
             <%end%></td>
        <td><%=student.dob%></td>
        <%#= link_to 'Show', student %>
        <%#= link_to 'Edit', edit_student_path(student) %>
        <%#= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class='col-md-4'>
   <%= render 'form',student: @student%>
</div>
</div>
<br/>
<%= link_to 'New Student', new_student_path %>
<%=column_chart(hash_of_year)%>
<%=column_chart(hash_of_month)%>
    <% url="https://gender-api.com/get?name=elizabeth&key=tFawQzmmGMKEctzAhm"%>
    <%response=HTTParty.get(url)%>
    <%=response.parsed_response%>
</div>    
