<% if(notice)%>
<div class="alert alert-success">
 <%= notice %>
 <script>
  $.growl.notice({message: "the record was successfully created!" });
 </script>
</div>
<%end%>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%=link_to @student.email,student_path(@student.id)%>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

Courses that are enrolled are as follows:
<ol>
<% if ! @student.courses.empty? %>
<% @student.courses.each do |course|%>
   <li><%=link_to course.name,course_path(course.id)%> -----
   	<%= link_to course.instructor.name,instructor_path(course.instructor.id)%>
   </li>
   <% end %>
<%else%>
<li>No courses have been enrolled yet </li>
<%end%>   
</ol>
<%#= link_to 'Edit', edit_student_path(@student) %> 
<%#= link_to 'Back', students_path %>
<script>  
  $.growl.notice({message: "the record was successfully created"});
</script>