<p id="notice"><%= notice %></p>
data={}
<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Instructor</th>
      <th>Action</th>
      <th>Count of students</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%=link_to course.name,course_path(course.id)%></td>
        <td><%= course.description %></td>
        <td><%=link_to course.instructor.name,instructor_path(course.instructor.id) %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= course.students.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Course', new_course_path %>
<%data={}%><br/>
<% @courses.each do |course|%>
   <% data[course.name]=course.students.length %>
<%end%>
<%=pie_chart(data) %>
