<p id="notice"><%= notice %></p>
data={}
<h1 id="courseList">Courses</h1>



<div class="row">
  <%@courses.each do |course|%>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBk4ZWwCNWvFsnPqhteuTxJ768BKWUKYFm8BJ2WMiL-DZsKcCH" alt="Card image cap", style="width:260px;height:180px;">
    <div class="card-body">
      <h5 class="card-title"><%=course.name%></h5>
      <p class="card-text"><%= course.description %></p>
      <a href="/students/new" class="btn btn-primary">Register</a>
    </div>
  </div>
  <%end%>
</div>



 <div class= "row">
    <div class="col-md-8">
    <table id="coursesList">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Instructor</th>
          <th>Action</th>
          <th>Count of students</th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
        <tr>

          <td><%=link_to course.name,course_path(course.id)%></td>
          <td><%= course.description %></td>
          <td><%=link_to course.instructor.name,instructor_path(course.instructor.id) %></td>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= course.students.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br/>
  </div> 
  <div class="col-md-4">
    <%= render 'courses/form',course: @course %>
    <%data={}%><br/>
    <% @courses.each do |course|%>
      <%data[course.name]=course.students.length %>
    <%end%>
    <%=pie_chart(data) %>
  </div>
</div>
  <script>
     $(document).ready(function(){
        $('#coursesList').DataTable();
     })
  </script>