<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%=@course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= Instructor.find(@course.instructor_id).name %>
</p>

Students who enrolled are:<%=@course.students.count%>
<%@course.students.each do |student|%>
   <li><%=link_to student.name,student_path(student.id)%></li>
<%end%>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
