<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CourseTracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>





  <!--this is for the row div -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <!--<li class="nav-item>
             <a href="" class ="nav-link">Students
             <span class= "badge badge-secondary">Students 100</span>  -->
        <!-- <a class="nav-link" href="#"> My Link </a> -->
        
       
      <li class="nav-item <%= controller.controller_name == 'students' ? 'active' : ''%>">
        <%= link_to students_path, class: "nav-link" do  %>
           Students<span class= "badge badge-secondary"><%= Student.count %></span>
        <% end%>
      </li>

      <li class="nav-item <%= controller.controller_name == 'instructors' ? 'active' : ''%>">
        <%= link_to "Instructors", instructors_path, class: "nav-link" %> 
      </li>
    
      <li class="nav-item dropdown <%= controller.controller_name == 'courses' ? 'active' : ''%>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
       </a>

      <%= link_to courses_path class: "nav-link" do %>
       Courses<span class="badge badge-secondary"><%=Course.count%></span>
      <%end%>



       <div>
       <nav aria-label = "breadcrumb">
         <ol class = "breadcrumb">
          <li class = "breadcrumb-item"><a href="/">Home</a></li>
          <li class = "breadcrumb-item">
             <%= link_to controller.controller_name.capitalize,"/#{controller.controller_name}"%></li>
          <% if(controller.action_name === "show")%>
              <%case controller.controller_name%>
                 <%when "students"%> 
                      <li class = "breadcrumb-item active" aria-current= "page"><%= @student.name%></li>   
                 <%when "instructors"%>
                      <li class  = "braedcrumb-item active" aria-current = "page"><%= @instructor.name%>
                 <% when "courses"%>
                      <li calss = "breadcrumb-item active" aria-current = "page"><%=@course.name%></li>
              <% end%>           
          <%else%>
               <li class = "breadcrumb-item active" aria-current = "page"><%=controller.action_name %></li>
          <% end%>
         </ol> 
       </nav>
       </div>   


       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <% Course.all.each do |course| %>
           <!-- <a class="dropdown-item" href="#">Action</a> -->
           <%= link_to course.name, course, class: 'dropdown-item' %>
         <% end %>
       </div>
     </li>
    
   </ul>
   <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
 </div>
</nav>
