<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CourseTracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= controller.controller_name == 'students' ? 'active' : ''%>">
        <!-- <a class="nav-link" href="#"> My Link </a> -->
        <%= link_to "Students", students_path, class: "nav-link" %>
      </li>

      <li class="nav-item <%= controller.controller_name == 'instructors' ? 'active' : ''%>">
        <%= link_to "Instructors", instructors_path, class: "nav-link" %> 
      </li>
    
      <li class="nav-item dropdown <%= controller.controller_name == 'courses' ? 'active' : ''%>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <% Course.all.each do |course| %>
           <!-- <a class="dropdown-item" href="#">Action</a> -->
           <%= link_to course.name, course, class: 'dropdown-item' %>
         <% end %>
       </div>
     </li>
    
   </ul>
   <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
 </div>
</nav>
